*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 50%;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 12vh;
    background-color: black;
    z-index: 9999;
}
  
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
}
  
nav li{
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
}
  
nav li#home{
    background-color: #141414;
    padding: 10px 50px;
    border-radius: 10px;
}
  
nav li :hover{
    transition: 500ms;
    color: blue;
    transition: 0,5s;
}
  
nav li#home :hover{
    color: red;
}
  
nav a{
    color: white;
    text-decoration: none;
}
  
nav img{
    width: 5vw;
    margin-right: auto;
    cursor: pointer;
}