/* dit is voor de pagina balk*/
*{
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(https://wallpapercrafter.com/th800/87115-lines-simple-background-abstract-hd-4k-dark-black-dribbble-oled.jpg);
    overflow-y: hidden;
  }
  nav{
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 12vh;
    background-color: black;
    z-index: 9999;
  }
  
  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 15%;
  }
  
  nav li{
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  
  nav li#home{
    margin-left: 20%;
    background-color: #141414;
    padding: 10px 50px;
    border-radius: 10px;
  }
  
  nav li :hover{
    transition: 500ms;
    color: blue;
    transition: 0,5s;
  }
  
  nav li#home :hover{
    color: red;
  }
  
  nav a{
    color: white;
    text-decoration: none;
  }
  
  nav img{
    width: 5vw;
    margin-right: auto;
    cursor: pointer;
  }
  
/* voor de teskt*/
div.rst{
  position: absolute;
  margin-left: 50px;
  font-family: 'Roboto Slab', serif;
  color: white;
}
div.rst h1{
  font-size: 65px;
  margin-left: 50px;
}
div.rst p{
  font-size: 25px;
}
div.rsu{
  position: absolute;
  margin-left: 550px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

div.rsu h1{
  font-size: 65px;
  margin-left: 50px;
}
div.rsu p{
  font-size: 25px;
  margin-left: 50px;
}
div.rsv{
  position: absolute;
  margin-left: 1150px;
  font-family: 'Roboto Slab', serif;
  color: white;
}
div.rsv h1{
  font-size: 65px;
  margin-left: 50px;
}
div.rsv p{
  font-size: 25px;
}
div.edu{
  position: absolute;
  margin-left: 550px;
  font-family: 'Roboto Slab', serif;
  color: rgb(0, 255, 132);
  margin-top: 500px;
}
div.edu h1{
  font-size: 65px;
  margin-left: 100px;
}
img{
  width: 30vw;
  border-radius: 20px;
}
#e1{
  position: absolute;
  margin-left: 50px;
  margin-top: 250px;
}
#e2{
  position: absolute;
  margin-left: 550px;
  margin-top: 250px;
}
#e3{
  position: absolute;
  margin-left: 1050px;
  margin-top: 250px;
}