/* dit is voor de pagina balk*/
*{
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  nav{
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 12vh;
    background-color: black;
    z-index: 9999;
    top: 0;
  }
  
  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 15%;
  }
  
  nav li{
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  
  nav li#home{
    margin-left: 20%;
    background-color: #141414;
    padding: 10px 50px;
    border-radius: 10px;
  }
  
  nav li :hover{
    transition: 500ms;
    color: blue;
    transition: 0,5s;
  }
  
  nav li#home :hover{
    color: red;
  }
  
  nav a{
    color: white;
    text-decoration: none;
  }
  
  nav img{
    width: 5vw;
    margin-right: auto;
    cursor: pointer;
  }
  
/*FF SNEL EXTRA*/
div.werk{
  background-color: rgb(255, 255, 255);
}
/*DIT IS VOOR DE PAGINA'S*/
div.p1{
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}
div.p2{
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}
div.p3{
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}
/*img*/
img{
  width: 75vw;
}
#e1{
  position: absolute;
  margin-left: 150px;
  margin-top: 250px;
}
#e2{
  position: absolute;
  margin-left: 150px;
  margin-top: 450px;
}
#e3{
  position: absolute;
  margin-left: 150px;
  margin-top: 650px;
}
/*Tekst*/
div.mainp h1{
  font-size: 50px;
  font-family: 'Rubik', sans-serif;
  margin-left: 10%;
}
div.mainp p{
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  margin-left: 10%;
}
body{
  margin-top: 10%;
}


