/* dit is voor de pagina balk*/
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(https://img.freepik.com/free-vector/white-background-with-wavy-lines-copy-space_23-2148822145.jpg?t=st=1663728991~exp=1663729591~hmac=8041b82fd2e9cfa6da189b59a99e04b0e0be75565b105114017b4d9ca9eea91c);
  background-size: cover;
}
nav{
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  min-height: 12vh;
  background-color: black;
  z-index: 9999;
  top: 0;
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 15%;
}

nav li{
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav li#home{
  margin-left: 20%;
  background-color: #141414;
  padding: 10px 50px;
  border-radius: 10px;
}

nav li :hover{
  transition: 500ms;
  color: blue;
  transition: 0,5s;
}

nav li#home :hover{
  color: red;
}

nav a{
  color: white;
  text-decoration: none;
}

nav img{
  width: 5vw;
  margin-right: auto;
  cursor: pointer;
}

/* voor de main tekst*/
body{
  font-family: "Goldman", cursive;
  margin-top: 20%;
}
div.txt{
  color: black;
}
div.sd{
  font-family: Goldman, cursive;
  font-size: 25px;
  margin-left: 10%;
  margin-top: 200px;
}
div.soft h1{
  font-size: 50px;
}
div.soft p{
  font-size: 15px;
  margin-top: 10px;
}
div.vs{
  position: absolute;
  font-size: 15px;
  margin-left: 70%;
  margin-top: -340px;
  transition: 1s;
}
div.vs img{
  width: 25vw;
  border-radius: 20px;
  cursor: pointer;
}
div.vs img:hover{
  transition: 500ms ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px 0px rgb(29, 29, 239);
}
div.git{
  position: absolute;
  font-size: 15px;
  margin-left: 70%;
  transition: 1s;
}
div.git img{
  width: 25vw;
  border-radius: 20px;
  cursor: pointer;
}
div.git img:hover{
  transition: 500ms ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px 0px rgb(140, 0, 255);
}
div.klik{
  position: absolute;
  align-items: center;
  margin-left: 35%;
  margin-top: 2%;
  font-size: 20px;
}
div.klik p :hover{
  transition: 300ms;
  color: blue;
}
div.klak{
  position: absolute;
  align-items: center;
  margin-left: 15%;
  margin-top: 2%;
  font-size: 20px;
}
div.klak p :hover{
  transition: 300ms;
  color: blue;
}
a{
  text-decoration: none;
  color: rgb(16, 16, 16);
}
