/* dit is voor de pagina balk*/
*{
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  nav{
    top: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 12vh;
    background-color: black;
    z-index: 9999;
  }
  
  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 15%;
  }
  
  nav li{
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  
  nav li#home{
    margin-left: 20%;
    background-color: #141414;
    padding: 10px 50px;
    border-radius: 10px;
  }
  
  nav li :hover{
    transition: 500ms;
    color: blue;
    transition: 0,5s;
  }
  
  nav li#home :hover{
    color: red;
  }
  
  nav a{
    color: white;
    text-decoration: none;
  }
  
  nav img{
    width: 5vw;
    margin-right: auto;
    cursor: pointer;
  }
/*FF SNEL EXTRA*/
html{
  background-image: url(bg-backgroudn.jpg);
  background-size: cover;
}
/*DIT IS VOOR DE PAGINA'S*/
div.main{
  font-family: 'Goldman',cursive;
  margin-top: 4.5%;
  color: black;
  margin-left: 40px;
  margin-top: 10%;
}
div.main h1{
  font-size: 75px;
}
div.main p{
  font-size: 24PX;
}
