*{
  margin: 0;
  padding: 0;
}


/* de head*/
html{
  font-size: 50%;
  overflow-x: hidden;
}
/* einde head*/



/*BEGIN de Boven balk*/
nav{
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  min-height: 12vh;
  background-color: black;
  z-index: 9999;
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 15%;
}

nav li{
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav li#home{
  margin-left: 20%;
  background-color: #141414;
  padding: 10px 50px;
  border-radius: 10px;
}

nav li :hover{
  transition: 500ms;
  color: blue;
  transition: 0,5s;
}

nav li#home :hover{
  color: red;
}

nav a{
  color: white;
  text-decoration: none;
}

nav img{
  width: 5vw;
  margin-right: auto;
}

/* einde bovenbalk*/


/* BEGIN het menu menu1*/

div.dropdown {
  position: absolute;
  display: inline-block;
  margin-top: 6.5%;
  margin-left: 25%;
  z-index: 1;
}

button.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 300px;
  font-family: 'Signika Negative', sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  top: calc(100% + 1px);
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
  font-size: 20px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #080808;
  border-radius: 5px;
  transition: 350ms;
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000000;
  border-radius: 5px;
}

/* EINDE HET MENU*/

section{
  height: 100vh;
  z-index: 1;
}
/* BEGIN PAGINA 1*/

section#pagina1{
  background-image: url(bg-pge1.jpg);
  background-size: cover;
  background-position: bottom;
}
div.hoofdtxt{
  position: absolute;
  font-family: "Goldman", cursive;
  margin-top: 12%;
  margin-left: 2.5%;
}
div.hoofdtxt h1{
  font-family: "Goldman", cursive;
  font-size: 60px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
ff{
  margin-left: 35%;
}
div.hoofdtxt p{
  font-family: "Goldman", cursive;
  font-size: 15px;
  margin-top: 15px;
}

img#htmlcss{
  position: absolute;
  margin-top: 50px;
  margin-left: 60%;
  width: 35vw;
}

button.start {
  position: absolute;
  margin-top: 34%;
  margin-left: 32%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 200px;
  font-family: 'Signika Negative', sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
button.start a{
  text-decoration: none;
  color: black;
}
button.start:hover{
  background-color: rgb(100, 100, 100);
  transition: 500ms;
}
button.start a:hover{
  color: blue;
  transition: 1000ms;
}

/* EIND PAGINA 1*/


/*BEGIN PAGINA 2*/

section#pagina2{
  height: 30vh;
  background-color: black;
}
div.tcr{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  flex-direction: column;
  font-family: "Goldman", cursive;
}
div.tcr h1{
  font-size: 50px;
}
div.tcr h1#top{
  margin-top: 30px;
}
div.tcr p{
  font-size: 13px;
}
/*EIND PAGINA 2*/


/*BEGIN PAGINA 3*/
section#pagina3{
background-color: black; /* voor degenen die het niet doen in hun browser*/
background-image: linear-gradient(black, white);
height: 100vh;
}
div.txtp3{
  position: absolute;
  color: white;
  margin-left: 5%;
  font-family: "Goldman", cursive;
  margin-top: 10%;
}

div.txtp3 h1{
  font-size: 60px;
}

div.txtp3 p{
  margin-top: 20%;
  font-size: 20px;
}

div.kaarten{
  position: absolute;
  margin-top: 2%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  right: 0;
}

div.kaarten2{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 22%;
  right: 0;
}

div.kaart{
  width: 250px;
  height: 280px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition:0.5s;
  text-align: center;
  font-size: 20px;
}

div.kaart a{
  text-decoration: none;
  font-family: "Goldman", cursive;
  color: black;
}

div.kaart a:hover{
  color: blue;
  transition: 300ms;
}

div.kaart:hover{
  transform: translateY(-10px);
  transition: 600ms;
}

div.kaart1{
  background-image: url(https://wallpapercave.com/wp/wp4834728.jpg);
}
div.kaart2{
  background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjB3YWxscGFwZXJ8ZW58MHx8MHx8&w=1000&q=80);
}
div.kaart3{
  background-image: url(https://images.pexels.com/photos/3593865/pexels-photo-3593865.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
div.kaart4{
  background-image: url(https://media.istockphoto.com/vectors/school-supplies-seamless-pattern-with-line-icons-study-tools-globe-vector-id1151966778);
}
div.kaart5{
  background-image: url(https://img.freepik.com/free-vector/elegant-white-wallpaper-with-golden-details_23-2149095007.jpg?w=2000);
}
div.kaart6{
  background-image: url(https://r1.ilikewallpaper.net/iphone-12-pro-wallpapers/download-103214/photography-of-tree.jpg);
}
/*EIND PAGINA 3*/


/*BEGIN PAGINA 4*/
section#pagina4{
height: 10vh;
background-color: rgb(167, 167, 167); /* voor degenen die het niet doen in hun browser*/
background-image: linear-gradient(white, #C2C3C6);
}
/*EIND PAGINA 4*/


/*BEGIN PAGINA 5*/
section#pagina5{
  background-image: url(bg-last-w.png);
  background-size: cover;
  background-position: bottom;
  height: 90vh;
}
/*EIND PAGINA 5*/

/*EXTRA*/
::-webkit-scrollbar {
  display: none;
}
.footer {
  height: 10vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}