
/* dit is voor de pagina balk*/
*{
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(10, 73, 38);
    overflow-y: hidden;
  }
  nav{
    align-items: center;
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 8vh;
    flex-wrap: wrap;
    margin: auto;
    background: rgb(32, 100, 61);
    justify-content: space-between;
    z-index: auto;
    font-family: "Goldman", cursive;
    font-size: 1px;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
  }
  nav li {
    font-size: 1.75rem;
    padding: 0 2rem 0 4rem;
  }
  nav li#t{
    padding: 0 4rem 0 4rem;
  }
  nav li#but{
    font-size: 30px;
    background-color: rgb(113, 189, 0);
    color: black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  nav li :hover{
    color: rgb(0, 0, 0);
    transition: 0,5s;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
    margin-right: auto;
    background-color: white;
  }
  
  /* software dev tekst*/
  .sd{
    position: absolute;
    display: flex;
    align-items: center;
    height: 80%;
    font-family: Goldman, cursive;
  }
  .soft{
    flex-basis: 50%;
    margin-left: 100px;
  }
  div.soft h1{
    font-size: 88px;
  }
  div.soft p{
    font-size: 15px;
  }
  div.soft button{
    width: 180px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(105, 203, 0);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    font-family: Goldman, cursive;
  }
  div.soft button :hover{
    color: lightgreen;
  }
  div.soft button a{
    text-decoration: none;
    color: black;
  }
  div.soft button a :hover{
    color: green;
  }
  div.soft h5 a{
    text-decoration: none;
    color: black;
  }
  div.soft h5 a :hover{
    color: lightgreen;
  }
  
  /* afbeeldingen met de tekst*/
  
  div.card{
    width: 250px;
    height: 280px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition:0.5s;
  }
  div.card :hover{
    color: lightgreen;
  }
  div.soft h1{
    text-shadow: 4px 4px 8px rgb(36, 36, 36);
  }
  div.card1{
    background-image: url(https://www.techniekcollegerotterdam.nl/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc1FQIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--03e77ba21deeca7d281ba8a7006d079a91e2a610/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVFMb0Eya0M2QU09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--3b6480bff175b8c51e61e10a6d1d53d10459aa31/Betaversie%20website%20Techniek%20College%20Rotterdam%20online_nieuws.jpg);
  }
  div.card2{
    background-image: url(https://content.presspage.com/uploads/1562/1920_dsc03026.jpg?10000);
  }
  div.card3{
    background-image: url(https://www.albeda.nl/sites/default/files/styles/key_visual/public/mediafiles/algemeen/docenten/Docent%20edwin%20met%202%20studenten%20.jpg?itok=UBB8VXE7);
  }
  div.card4{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLSJRLw8WBPjOrVtVc0cHWUUgb7W7QTY5Hi_LASUF-XvPq-dlJkCySYp-olLC2KRP5yhs&usqp=CAU);
  }
  div.soft{
    font-size: 25px;
    color: white;
  }
  div.soft h5{
    font-size: 33px;
  }
  /* ZODAT JE EEN AFBEELDING LAAT BEWEGEN: img = Transition + img hover = Transform translateY */
  div.card:hover{
    transform: translateY(-10px);
    color: lightgreen;
  }