div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0%; top:0px;}
  100%  {background-color:yellow; left:100%; top:0px;}
}